.confirmation-page
  = render 'shared/signup-header'
  .confirmation-page__confirmation-main
    .confirmation-page__confirmation-main__buy-item-area
      .confirmation-page__confirmation-main__buy-item-area__buy-item-area-head
        購入内容の確認
      .confirmation-page__confirmation-main__buy-item-area__buy-item-area-buy-item
        .confirmation-page__confirmation-main__buy-item-area__buy-item-area-buy-item__confirmation-inner
          .confirmation-page__confirmation-main__buy-item-area__buy-item-area-buy-item__confirmation-inner__confirmation-buy-item-image
            = image_tag @item.images.first.image.url
          .confirmation-page__confirmation-main__buy-item-area__buy-item-area-buy-item__confirmation-inner__confirmation-buy-item-name
            = @item.name
          .confirmation-page__confirmation-main__buy-item-area__buy-item-area-buy-item__confirmation-inner__confirmation-buy-item-form
            .confirmation-page__confirmation-main__buy-item-area__buy-item-area-buy-item__confirmation-inner__confirmation-buy-item-form__confirmation-buy-item-form-box
              .confirmation-page__confirmation-main__buy-item-area__buy-item-area-buy-item__confirmation-inner__confirmation-buy-item-form__confirmation-buy-item-form-box__confirmation-buy-price
                = number_to_currency(@item.shipping_cost, unit: "￥", precision: 0)
              .confirmation-page__confirmation-main__buy-item-area__buy-item-area-buy-item__confirmation-inner__confirmation-buy-item-form__confirmation-buy-item-form-box__confirmation-item-shipping
                = @item.shipping_fee_charge_to
            .confirmation-page__confirmation-main__buy-item-area__buy-item-area-buy-item__confirmation-inner__confirmation-buy-item-form__confirmation-buy-accordion
              .confirmation-page__confirmation-main__buy-item-area__buy-item-area-buy-item__confirmation-inner__confirmation-buy-item-form__confirmation-buy-accordion__confirmation-user-point
                .confirmation-page__confirmation-main__buy-item-area__buy-item-area-buy-item__confirmation-inner__confirmation-buy-item-form__confirmation-buy-accordion__confirmation-user-point__confirmation-user-consume-point
                  ポイントはありません
            .confirmation-page__confirmation-main__buy-item-area__buy-item-area-buy-item__confirmation-inner__confirmation-buy-item-form__confirmation-buy-price-table
              .confirmation-page__confirmation-main__buy-item-area__buy-item-area-buy-item__confirmation-inner__confirmation-buy-item-form__confirmation-buy-price-table__confirmation-buy-price-row
                .confirmation-page__confirmation-main__buy-item-area__buy-item-area-buy-item__confirmation-inner__confirmation-buy-item-form__confirmation-buy-price-table__confirmation-buy-price-row__buy-price-cell-left
                  支払い金額
                .confirmation-page__confirmation-main__buy-item-area__buy-item-area-buy-item__confirmation-inner__confirmation-buy-item-form__confirmation-buy-price-table__confirmation-buy-price-row__buy-price-cell-right
                  = number_to_currency(@item.shipping_cost, unit: "￥", precision: 0)
              = form_with(url: trade_pay_path, method: :post) do
                %script.payjp-button{src: "https://checkout.pay.jp", type: "text/javascript" ,"data-text" => "購入する" ,"data-key" => "pk_test_51c5f45241e67536b95811bf"}
      .confirmation-page__confirmation-main__buy-item-area__buy-item-area-buy-user-info
        .confirmation-page__confirmation-main__buy-item-area__buy-item-area-buy-user-info__confirmation-buy-content-inner
          .confirmation-page__confirmation-main__buy-item-area__buy-item-area-buy-user-info__confirmation-buy-content-inner__confirmation-inner-shipping-address
            配送先 
          .confirmation-page__confirmation-main__buy-item-area__buy-item-area-buy-user-info__confirmation-buy-content-inner__confirmation-inner-user-address
            .confirmation-page__confirmation-main__buy-item-area__buy-item-area-buy-user-info__confirmation-buy-content-inner__confirmation-inner-user-address__confirmation-inner-postal-code
              〒000-0000
            .confirmation-page__confirmation-main__buy-item-area__buy-item-area-buy-user-info__confirmation-buy-content-inner__confirmation-inner-user-address__confirmation-inner-address
              東京都渋谷区
            .confirmation-page__confirmation-main__buy-item-area__buy-item-area-buy-user-info__confirmation-buy-content-inner__confirmation-inner-user-address__confirmation-inner-user-name
              赤城太郎
            .confirmation-page__confirmation-main__buy-item-area__buy-item-area-buy-user-info__confirmation-buy-content-inner__confirmation-inner-user-address__confirmation-inner-buy-user-info-text
              = link_to '変更する  >'
      .confirmation-page__confirmation-main__buy-item-area__buy-item-area-buy-pay-method
        .confirmation-page__confirmation-main__buy-item-area__buy-item-area-buy-pay-method__confirmation-buy-content-inner
          .confirmation-page__confirmation-main__buy-item-area__buy-item-area-buy-pay-method__confirmation-buy-content-inner__confirmation-inner-shipping-address
            支払い方法
          .confirmation-page__confirmation-main__buy-item-area__buy-item-area-buy-pay-method__confirmation-buy-content-inner__confirmation-method-buy-user-info-text
            .confirmation-page__confirmation-main__buy-item-area__buy-item-area-buy-pay-method__confirmation-buy-content-inner__confirmation-method-buy-user-info-text__confirmation-card-no
              ************0000
            .confirmation-page__confirmation-main__buy-item-area__buy-item-area-buy-pay-method__confirmation-buy-content-inner__confirmation-method-buy-user-info-text__confirmation-card-time
              1/1
            .confirmation-page__confirmation-main__buy-item-area__buy-item-area-buy-pay-method__confirmation-buy-content-inner__confirmation-method-buy-user-info-text__confirmation-card-icon
          .confirmation-page__confirmation-main__buy-item-area__buy-item-area-buy-pay-method__confirmation-buy-content-inner__confirmation-figure
          .confirmation-page__confirmation-main__buy-item-area__buy-item-area-buy-pay-method__confirmation-buy-content-inner__confirmation-inner-buy-user-info-text
            = link_to '変更する  >'
  = render 'shared/signup-footer'
