-# ユーザーのマイページ
.wrapper
  = render 'shared/header'
  .header-bottom__bread__crumbs
    .bread-crumbs
      - breadcrumb :mypage
      = breadcrumbs separator: " ＞ "
  = render 'shared/left-area'
  .content__right
    .mypage-user-icon__area
      .user-icon__zone
        = current_user.nickname
        .user__icon
        .user__name
        .mypage-number
          .user__evaluation
            評価
          .user__exhibits
            出品数
    .mypage-tab-container-notification-todo
      .mypage-tabs
        .mypage-news
          お知らせ
        .mypage-todo
          やることリスト
      .tab-content
        .mypage-news-list
          .mypage-news-link
            .mypage-news-body
              .mypage-item-text
                事務局から個別メッセージ「ログイン通知」
          .mypage-news-link2
            .mypage-news-body
              .mypage-item-text
                事務局から個別メッセージ「ログイン通知」
          .mypage-go-link
            .mypage-go-link-text
              一覧を見る
        .mypage-todo-list
          .mypage-todo-link
    .purchased-product
      .purchased-product-head
        購入した商品
      .purchased-product-list
        .purchased-product-now
          取引中
        .purchased-product-old
          過去の取引
      .purchased-product-content
        .purchased-product-content-active
        .purchased-product-content-old
  = render 'shared/footer'