.signup-wrapper
  = render 'shared/signup-header'  
  .signup-main
    .signup-main__box
      .signup-main__box__title
        %b
          新規会員登録
      .signup-main__box__form-area
        .signup-main__box__form-area__content
          = link_to "" do
            .signup-main__box__form-area__content__mail
              = fa_icon "envelope ", class: "icon"
              メールアドレスで登録する
            %button.signup-main__box__form-area__content__facebook
              = fa_icon "facebook-square ", class: "icon"
              Facebookで登録する
            %button.signup-main__box__form-area__content__google
              = fa_icon "google", class: "icon"
              googleで登録する
  = render 'shared/signup-footer'  
