.header-area
  .header-area__wrapper
    .header-top
      %img{href: "", alt: "メルカリマーク", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2482339763", width: "134", height: "36"}
      %form{action: "", method: "post", class: "search-form"}
        %input{name: "search", placeholder: "何かお探しですか？", type: "search", class: "search-input"}
          = fa_icon "search", class: "icon-search"
      -# 検索機能実装時記述
      -# %input{name: "submit", type: "submit", value: "検索"}/
    .header-bottom
      .header-bottom__left
        .header-bottom__left__category
          カテゴリーから探す
        .header-bottom__left__brand
          ブランドから探す
      - if user_signed_in?
        .header-bottom__right
          %ul
            %li.header-bottom__likes
            = link_to "" do
              = icon 'far fa-lg', 'heart'
              %span いいね一覧
            %li.header-bottom__notification
              = link_to destroy_user_session_path, method: :delete do
                = icon 'far fa-lg', 'bell'
                %span お知らせ
            %li.header-bottom__right__todo
              = icon 'fas fa-lg', 'check'
              %span やることリスト
            %li.header-bottom__right__mypage
              = link_to mypage_top_path do
                = current_user.profile.avatar
                %span マイページ
      - else
        .header-bottom__right
          %li.header-bottom__right__signup
            = link_to signup_index_path do
              新規会員登録
              
          %li.header-bottom__right__login
            = link_to new_user_session_path do
              ログイン