.content__left
  .content__left__list
    .content__left__mypage
      .list__mypage
        = link_to 'マイページ', mypage_top_path
      .list__news
        お知らせ
      .list__todolist
        やることリスト
      .list__goodjob
        いいね！一覧
      .list__exhibit
        出品する
      .list__exhibitnow
        = link_to '出品した商品 - 出品中', mypage_listings_listing_of_items_on_sale_path(@user)
      .clist__transactionnow
        出品した商品
      .list__transactionend
        出品した商品 - 売却済み
      .list__buynow
        購入した商品 - 取引中
      .list__buyend
        購入した商品 - 過去の取引
      .clist__newslist
        ニュース一覧
      .list__evaluation
        評価一覧
      .list__guide
        ガイド
      .list__contact
        お問い合わせ
    .content__left__merpay
      メルペイ
    .merpay__list
      .merpay__transfer
        売上・振込申請
      .merpay__point
        ポイント
    .content__left__config
      設定
    .config__lisut
      .config__profile
        = link_to 'プロフィール', mypage_profile_path
      .config__address
        発送元・お届け先住所変更
      .config__payment
        = link_to '支払い方法', mypage_credit_index_path
      .config__passmail
        メール/パスワード
      .config__person
        = link_to '本人情報', mypage_identification_path
      .config__tell
        電話番号の確認
      .config__logout
        = link_to "ログアウト", mypage_logout_path