-# ユーザープロフィール編集ページ profile.scss
.wrapper
  = render 'shared/header'
  .header-bottom__bread__crumbs
    .bread-crumbs 
      - breadcrumb :profile
      = breadcrumbs separator: " ＞ "
  .content-area
    = render 'shared/left-area'
    .profile__content__right
      .profile__content__container
        .right-chapter-head
          プロフィール
        .profile__content__form
          .profile__content__icon
            .profile__content__icon__area
            .profile__content__input__name
          .profile__content__setting__profile
            .profile__content__setting__textarea
              こんにちは☆ ご覧いただきありがとうございます！かわいいものやきれいめオフィスカジュアル中心に出品しています。服のサイズは主に9号です。気持ちよくお取引できるよう心がけていますので、商品や発送方法などご質問がありましたらお気軽にどうぞ♪
            .profile__content__setting__btn
              変更する
.footer
  = render 'shared/footer'
  = render 'shared/button'