.wrapper
  .header-area
    .header-area__wrapper
      .header-top
        = link_to root_path do
          = image_tag '/logo.svg', width: "134", height: "36"
        %form{action: "", method: "post", class: "search-form"}
          %input{name: "search", placeholder: "何かお探しですか？", type: "search", class: "search-input"}
            = fa_icon "search", class: "icon-search"
      .header-bottom
        .header-bottom__left
          .header-bottom__left__brand
            %a
              カテゴリーから探す
          .header-bottom__left__category
            %a
              ブランドから探す
        .header-bottom__right
          .header-bottom__right__goodjob
            = link_to 'いいね！一覧'
            .header--goodjob__icon
            .header--goodjob__text
              
          .header-bottom__right__news
            = link_to 'お知らせ'
            .header--news__icon
            .header--news__text
              
          .header-bottom__right__todolist
            = link_to 'やることリスト'
            .header--todolist__icon
            .header--todolist__text
              
          .header-bottom__right__mypage
            = link_to 'マイページ'
            .header--mypage__icon
            .header--mypage__text
   
  .header-bottom__bread__crumbs