.single-container
  .single-main
    .single-container-Item-registration-are
      .sell-container
        .data-reactroot
          .single-head
            商品の情報を入力
        = form_for @item, url: create_item_path do |f|
          .sell-form
            .sell-upload-box
              .sell-upload-head
                .sell-upload-head-text
                  出品画像
                .sell-upload-required
                  必須
                .sell-upload-head-text-small
                  最大10枚までアップロードできます
            = f.fields_for :images, @item.images.first do |image|

              .sell-dropbox-container
                .sell-upload-items-container
                  .sell-upload-items-have-item-0
                  = image.label :image do
                    = image.file_field :image, name: "images[images][]", class: "sell-upload-drop-box"
                  .visible-pc
                    -# ドラッグアンドドロップ
                    -# またはクリックしてファイルをアップロード
                  .icon-camera
          .sell-content
            .sell-content-product-nam
              .sell-content-label
                商品名
              .sell-upload-required
                必須
            = f.text_field :name, id: "sell-content_input-default", placeholder: "商品名（必須 40文字まで)"

            .sell-content-blank
            .sell-content-product-description
              .sell-content-label
                商品の説明
              .sell-upload-required
                必須
            = f.text_area :detail, class:"sell-content-textarea-default", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: "5"
          .sell-content-clearfix
            .sell-sub-details-head
              商品の詳細
            .sell-form-details-box
              .sell-content-label
                カテゴリー
              .sell-upload-required
                必須
              .sell-content_input-default
                .icon-arrow-bottom
                .select-default

              .sell-content-blank
              .sell-content-label
                商品の状態
              .sell-upload-required
                必須
              .sell-content_input-default
                .icon-arrow-bottom
                .select-default
                  ***
          .sell-content-delivery
            .sell-sub-details-head
              配送について
            .form-question
              = link_to '?'
            .sell-form-delivery-box
              .sell-content-label
                配送料の負担
              .sell-upload-required
                必須
              .sell-content_input-default
                .icon-arrow-bottom
                .select-default
                  ***
              .sell-content-blank
              .sell-content-label
                発送元の地域
              .sell-upload-required
                必須
              .sell-content_input-default
                .icon-arrow-bottom
                .select-default
                  ***
              .sell-content-blank
              .sell-content-label
                発送までの日数
              .sell-upload-required
                必須
              .sell-content_input-default
                .icon-arrow-bottom
                .select-default
                  ***
          .sell-content-income
            .sell-sub-details-head
              販売価格(300〜9,999,999)
            .form-question
              = link_to '?'
            .sell-form-income-box
              .sell-price
                .income-form-group
                  .income-sell-clearfix
                    .income-clearfix-left
                      .sell-content-label
                        価格
                      .sell-upload-required
                        必須
                    .right-sell-price-input
                      ¥
                      = f.text_field :price, min:300, max:9999999, class: "sell-incomeinput-default",  placeholder: "例）300"
                  .sell-income-sales-commission
                    .sell-income-sales-commission-left
                      販売手数料 (10%)
                    .sell-income-sales-commission-right
                      ー
                  .income-sell-clearfix-bold
                    .income-sell-clearfix-bold-left
                      販売利益
                    .income-sell-clearfix-bold-right
                      ー
          .sell-content-sell-btn-box
            .sell-content-sell-btn-box-text-area
              .sell-content-sell-btn-box-text-area-line
                .sell-content-sell-btn-box-text-area1-1
                  = link_to '禁止されている出品'
                .sell-content-sell-btn-box-text-area1-2
                  、
                .sell-content-sell-btn-box-text-area1-3
                  = link_to '行為'
                .sell-content-sell-btn-box-text-area1-2
                  を必ずご確認ください。
              .sell-content-sell-btn-box-text-area-line
                .sell-content-sell-btn-box-text-area1-2
                  またブランド品でシリアルナンバー等がある場合はご記載ください。
                .sell-content-sell-btn-box-text-area1-4
                  = link_to '偽ブランドの販売'
                .sell-content-sell-btn-box-text-area1-2
                  は犯罪であり処罰される可能性があります。
              .sell-content-sell-btn-box-text-area-line
                .sell-content-sell-btn-box-text-area1-2
                  また、出品をもちまして
                .sell-content-sell-btn-box-text-area1-5
                  = link_to '加盟店規約'
                .sell-content-sell-btn-box-text-area1-2
                  に同意したことになります。
                =f.submit "出品する", class:"sell-content-sell-btn-default-btn-red"
                =link_to "戻る", root_path,class:"sell-content-sell-btn-default-btn-gray"
              
              .overlay