.product-details-wrapper
  = render 'shared/header'
  .product-details-main
    %h1.product-details-main__title
      = @item.name
    .product-details-main__content
      .product-details-main__content__image
        .product-details-main__content__image__top
          = image_tag @item.images.first.image.url if @item.images
        .product-details-main__content__image__dots
          - if @item.images
            - @item.images.each do |image|
              .product-details-main__content__image__dots__dot
                = image_tag image.image.url
      %table.product-details-main__content__table
        %tbody
          %tr
            %th 出品者
            %td
              %a
                = @item.user.nickname
              %div
                .item-user-ratings
                  = fa_icon "circle", class: "icon-good"
                  %span 0
                .item-user-ratings
                  = fa_icon "circle", class: "icon-normal"
                  %span 0
                .item-user-ratings
                  = fa_icon "circle", class: "icon-bad"
                  %span 0
          %tr
            %th カテゴリー
            %td
              %a
                = @item.category.parent.parent.name
              %br
              %a
                %i.fas.fa-chevron-right
                #{@item.category.parent.name}
              %br
              %a
                %i.fas.fa-chevron-right
                #{@item.category.name}
          %tr
            %th ブランド
            %td
              %a
                = @item.brand_id if @item.brand_id
          %tr
            %th 商品のサイズ
            %td
              %a
                **
          %tr
            %th 商品の状態
            %td
              %a
                = @item.condition_id
          %tr
            %th 配送料の負担
            %td
              %a
                = @item.shipping_fee_charge_to
          %tr
            %th 配送方法
            %td
              %a らくらくメルカリ便
          %tr
            %th 配送元地域
            %td
              %a
                = @item.prefecture_id
          %tr
            %th 発送日の目安
            %td
              %a
                = @item.shipping_days
    .product-details-main__item-price
      %span.item-total-price
        = number_to_currency(@item.shipping_cost, unit: "￥", precision: 0)
      %span.item-tax (税込)
      %span.item-shipping-fee 送料込み
    - if @item.trade_status_id == 1
      = link_to transaction_buy_path(@item) do
        %button.buy-btn{type: "submit"}
          購入画面に進む
    - else
      %button.sold-out
        売り切れました
    .product-details-main__item-description
      %p
        = @item.detail
    .product-details-main__item-button
      .product-details-main__item-button__left
        .product-details-main__item-button__left__like
          = icon 'far fa-lg', 'heart'
          いいね！
        .product-details-main__item-button__left__report
          ！ 不適切な商品の報告
      .product-details-main__item-button__right
        あんしん・あんぜんへの取り組み
  %ul.item-link-prev-next
    %li.item-link-prev
      ＜ 前の商品
    %li.item-link-next
      次の商品 ＞
  .sns-box
    %ul
      %li
        %i.fab{class: "fa-facebook-square fa-3x"}
      %li
        %i.fab{class: "fa-twitter-square fa-3x"}
      %li
        %i.fab{class: "fa-pinterest fa-3x"}
  .users-item-box
    %h2.users-item-box__head
      #{@item.user.nickname}さんのその他の出品
    .users-item-box__content
      - @user_items.each do |user_items|
        = link_to item_path(user_items.id) do
          .users-item-box__content__item-data
            .users-item-box__content__item-data__photo
              = image_tag user_items.images.first.image.url if user_items.images
            .users-item-box__content__item-data__body
              %h3.users-item-box__content__item-data__body__name
                = user_items.name
              .users-item-box__content__item-data__body__num
                .users-item-box__content__item-data__body__num__price
                  = number_to_currency(user_items.shipping_cost, unit: "￥", precision: 0)
                %span
                  = icon 'far fa-lg', 'heart'
    %h2.users-item-box__head
      #{@item.category.name}その他の出品
    .users-item-box__content
      - @category_items.each do |category_items|
        = link_to item_path(category_items.id) do
          .users-item-box__content__item-data
            .users-item-box__content__item-data__photo
              = image_tag category_items.images.first.image.url if category_items.images
            .users-item-box__content__item-data__body
              %h3.users-item-box__content__item-data__body__name
                = category_items.name
              .users-item-box__content__item-data__body__num
                .users-item-box__content__item-data__body__num__price
                  = number_to_currency(category_items.shipping_cost, unit: "￥", precision: 0)
                %span
                  = icon 'far fa-lg', 'heart'
  .bottom-image
    = image_tag '/bottom-image.jpg', class: "bottom-image-banner"
  = render 'shared/footer'
