.wrapper
  = render 'shared/header'
  .header-bottom__bread__crumbs
    .bread-crumbs
      - breadcrumb :listing
      = breadcrumbs separator: " ＞ "
  .content-area
    = render 'shared/left-area'
    .content-area__listing-content-area
      .content-area__listing-content-area__listing-content-head
        出品した商品
      .content-area__listing-content-area__listing-status
        .content-area__listing-content-area__listing-status__status-listing
          .content-area__listing-content-area__listing-status__status-listing__listing-text
            出品中
          .content-area__listing-content-area__listing-status__status-listing__listing-content
            - @item.each do |item|
              .status-listing__listing-content__1
                .status-listing__listing-content__1__1-imege
                  = link_to image_tag(item.images.first.image.url), mypage_listings_show_listing_of_items_on_sale_path(item.id)
        .content-area__listing-content-area__listing-status__status-exhitusers
          .content-area__listing-content-area__listing-status__status-exhitusers__exhitusers-text
            取引中
          .content-area__listing-content-area__listing-status__status-exhitusers__listing-content
            .status-listing__listing-content__6
            .status-listing__listing-content__7
            .status-listing__listing-content__8
            .status-listing__listing-content__9
            .status-listing__listing-content__10
        .content-area__listing-content-area__listing-status__status-exhitend
          .content-area__listing-content-area__listing-status__status-exhitend__exhitend-text
            売却済
          .content-area__listing-content-area__listing-status__status-exhitend__listing-content
            .status-listing__listing-content__11
            .status-listing__listing-content__12
            .status-listing__listing-content__13
            .status-listing__listing-content__14
            .status-listing__listing-content__15
.footer
  = render 'shared/footer'
  = render 'shared/button'
