.icon::before
.wrapper
  = render 'shared/header'
  .header-bottom__bread__crumbs
    .bread-crumbs 
      - breadcrumb :compilation
      = breadcrumbs separator: " ＞ "
  .compilation-details-wrapper
    .compilation-details-main
      %h1.compilation-details-main__title
        = @item.name
      .compilation-details-main__content
        .compilation-details-main__content__image
          .compilation-details-main__content__image__top
            = image_tag @item.images.first.image.url if @item.images
          .compilation-details-main__content__image__dots
            - if @item.images
              - @item.images.each do |image|
                .compilation-details-main__content__image__dots__dot
                  = image_tag image.image.url
        %table.compilation-details-main__content__table
          %tbody
            %tr
              %th 出品者
              %td
                %a
                  = @item.user.nickname
            %tr
              %th カテゴリー
              %td
                %a 
                  = @item.category.name
                %br
                %a ""
                %br
                %a ""
            %tr
              %th ブランド
              %td
                %a 
                  **
            %tr
              %th 商品のサイズ
              %td
                %a サイズ
            %tr
              %th 商品の状態
              %td
                %a 
                  = @item.condition_id
            %tr
              %th 配送料の負担
              %td
                %a 
                  = @item.shipping_fee_charge_to
            %tr
              %th 配送方法
              %td
                %a らくらくメルカリ便
            %tr
              %th 配送元地域
              %td
                %a 
                  **
            %tr
              %th 発送日の目安
              %td
                #{@item.shipping_days}日で発送
      .compilation-details-main__item-price
        %span.item-total-price 
          = number_to_currency(@item.shipping_cost, unit: "￥", precision: 0)
        %span.item-tax (税込)
        %span.item-shipping-fee 送料込み
    .compilation-item-box
      = link_to edit_item_path(@item) do
        .compilation-item-box__btn-default-btn-red
          商品の編集
      .compilation-item-box__text-center
        or
      .compilation-item-box__btn-default-btn-red-and-gray
        .compilation-item-box__btn-default-btn-red-and-gray__btn-red
          出品を再開する
        .compilation-item-box__btn-default-btn-red-and-gray__btn-gray
          出品を停止する
      = link_to item_path(@item), method: :delete do
        .compilation-item-box__btn-default-btn-gray
          - if @item.user_id == current_user.id
            この商品を削除する
    .bottom-image
      = image_tag '/bottom-image.jpg', class: "bottom-image-banner"
.footer
  = render 'shared/footer'
  = render 'shared/button'